.moola {
background-color: red;
}

header {
text-align: center;
color: white;
background-color: #666666;
font-size: 1cm;
padding: 20px;
padding: 20px;
margin-bottom: 30px;
}

.money {
text-align: right;
margin-right: 10px;
}
